ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}

li {
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to black on hover */
li a:hover:not(.active) {
    background-color: #111;
}

/*
This doesn't highlight the current tab the user is on - ideally should fix
*/
.active{
    background-color: rgb(107, 122, 207);
}


#nodePage{
    background-color: rgb(100, 205, 100);

}

#jqueryPage{

    background-color: blue;

}
