ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 47, 47);
    display: flex;
    justify-content: center;
}
  
li {
    float: left;
}

li {
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to black on hover */
li a:hover:not(.active) {
    background-color: #111;
}

/*
This doesn't highlight the current tab the user is on - ideally should fix
*/
.active{
    background-color: rgb(107, 122, 207);
}


#nodePage{
    background-color: rgb(243, 115, 101);

}

#jqueryPage{

    background-color: steelblue;

}

#vuePage{
    background-color: rgb(24, 177, 90);

}
#mongoPage{
    background-color:rgb(116, 32, 32);
}

#socketPage{
    background-color:slategray;

}

#homePage{
    background-color:rgb(247, 202, 53);
}

.navigation{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bookButtons{
    display: flex;
    justify-content: center;
}
